<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="scara_parcial">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.73472347597681E-18 0 0.0998780760555324"
        rpy="0 0 0" />
      <mass
        value="0.988879119570459" />
      <inertia
        ixx="0.00386390013512193"
        ixy="-6.15155978133186E-38"
        ixz="1.46264242236905E-19"
        iyy="0.00386390013512193"
        iyz="-8.4410901568214E-36"
        izz="0.000743243095074335" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rot1">
    <inertial>
      <origin
        xyz="0.118676345594585 1.21430643318376E-17 0.0296690863986464"
        rpy="0 0 0" />
      <mass
        value="1.05132741228718" />
      <inertia
        ixx="0.000968741777605735"
        ixy="1.41325121968422E-19"
        ixz="-0.000399196555067386"
        iyy="0.00620864004558683"
        iyz="8.53392848411022E-20"
        izz="0.00629429353114417" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/rot1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/rot1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1"
    type="continuous">
    <origin
      xyz="0 0 0.1772"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rot1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="rot2">
    <inertial>
      <origin
        xyz="0.1 0 0.0750000000000004"
        rpy="0 0 0" />
      <mass
        value="0.854977871437822" />
      <inertia
        ixx="0.000674638405706707"
        ixy="6.48045540533855E-20"
        ixz="1.13555967627051E-19"
        iyy="0.00431775045341826"
        iyz="6.60322314929738E-21"
        izz="0.0046361480793592" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/rot2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/rot2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2"
    type="revolute">
    <origin
      xyz="0.2 0 0"
      rpy="0 0 -1.57079632679489" />
    <parent
      link="rot1" />
    <child
      link="rot2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.1"
      upper="4.3"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="prisma1">
    <inertial>
      <origin
        xyz="0 -2.77555756156289E-17 -0.1895"
        rpy="0 0 0" />
      <mass
        value="0.744164759819082" />
      <inertia
        ixx="0.00902398993248613"
        ixy="-2.53580488584256E-20"
        ixz="-3.11783790133065E-19"
        iyy="0.00902398993248613"
        iyz="4.28033982679163E-20"
        izz="0.000232551487443463" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/prisma1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/prisma1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="3"
    type="prismatic">
    <origin
      xyz="0.2 0 0"
      rpy="-3.1416 0 0" />
    <parent
      link="rot2" />
    <child
      link="prisma1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.2"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rot3">
    <inertial>
      <origin
        xyz="5.34014416020412E-10 -5.35736927043118E-10 -0.0349809453938201"
        rpy="0 0 0" />
      <mass
        value="0.182222784010828" />
      <inertia
        ixx="0.000161921495281095"
        ixy="1.35115873626282E-06"
        ixz="2.85630487972558E-12"
        iyy="0.000161912661018423"
        iyz="-2.8655180163919E-12"
        izz="8.98947732639393E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/rot3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_parcial/meshes/rot3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="4"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="prisma1" />
    <child
      link="rot3" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>