<?xml version="1.0" encoding="utf-8"?>
<robot name="scara_cajas">

  <!-- 1. ANCLAR ROBOT AL MUNDO (Evita que se caiga por gravedad/fuerzas motoras) -->
  <link name="world"/>

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="baase"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- BASE -->
  <link name="baase">
    <inertial>
      <origin xyz="-2.22044604925031E-16 0 0.0672678725236865" rpy="0 0 0" />
      <mass value="2.18843344249065" />
      <inertia ixx="0.00960188890653036" ixy="-9.24446373305873E-33" ixz="4.38743068548415E-18" iyy="0.00960188890653036" iyz="-5.2854134325274E-19" izz="0.00604083499590003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/baase.STL" /></geometry>
      <material name=""><color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" /></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/baase.STL" /></geometry>
    </collision>
  </link>

  <!-- ROT1 LINK & JOINT -->
  <link name="rot1">
    <inertial>
      <origin xyz="0.185618029473241 -4.32986979603811E-15 0.0281239410301636" rpy="0 0 0" />
      <mass value="1.57132741228718" />
      <inertia ixx="0.00136199312416451" ixy="3.4803484175188E-17" ixz="-0.000708733057874757" iyy="0.0202194057560342" iyz="1.50962140222419E-18" izz="0.0204664745616995" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/rot1.STL" /></geometry>
      <material name=""><color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" /></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/rot1.STL" /></geometry>
    </collision>
  </link>
  <joint name="rot1_joint" type="continuous">
    <origin xyz="0 0 0.16" rpy="0 0 0" />
    <parent link="baase" />
    <child link="rot1" />
    <axis xyz="0 0 1" />
    <limit effort="100.0" velocity="2.0" />
    <dynamics damping="0.7" friction="0.1"/>
  </joint>

  <!-- ROT2 LINK & JOINT -->
  <link name="rot2">
    <inertial>
      <origin xyz="0.111499999999999 1.33226762955019E-15 0.0750000000000001" rpy="0 0 0" />
      <mass value="0.946977871437821" />
      <inertia ixx="0.000742871739040039" ixy="-1.39975225661276E-16" ixz="-2.1632755950009E-20" iyy="0.00559862604788955" iyz="3.19233998054046E-19" izz="0.0059469236738305" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/rot2.STL" /></geometry>
      <material name=""><color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" /></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/rot2.STL" /></geometry>
    </collision>
  </link>
  <joint name="rot2_joint" type="revolute">
    <origin xyz="0.33 0 0.1" rpy="0 0 -1.5708" />
    <parent link="rot1" />
    <child link="rot2" />
    <axis xyz="0 0 1" />
    <limit lower="-1.1" upper="4.25" effort="100.0" velocity="2.0" />
    <dynamics damping="0.7" friction="0.1"/>
  </joint>

  <!-- PRIS LINK & JOINT -->
  <link name="pris">
    <inertial>
      <origin xyz="1.11022302462516E-16 -1.11022302462516E-16 -0.060865" rpy="0 0 0" />
      <mass value="0.239016296075928" />
      <inertia ixx="0.000332495428053249" ixy="0" ixz="4.36883421857453E-19" iyy="0.000332495428053249" iyz="-3.08750328986277E-19" izz="7.46925925237277E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/pris.STL" /></geometry>
      <material name=""><color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" /></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/pris.STL" /></geometry>
    </collision>
  </link>
  <joint name="pris_joint" type="prismatic">
    <origin xyz="0.223 0 0.0098545" rpy="-3.14159265358979 0 -0.0983781240316506" />
    <parent link="rot2" />
    <child link="pris" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0.131" effort="100.0" velocity="1.0" />
    <dynamics damping="1.0" friction="0.1"/>
  </joint>

  <!-- EFECTOR -->
  <link name="efector">
    <inertial>
      <origin xyz="-2.77555756156289E-17 0 -0.0313409287496977" rpy="0 0 0" />
      <mass value="0.250714332702467" />
      <inertia ixx="0.000247433804722632" ixy="-5.63719543671141E-20" ixz="-1.45401091351532E-20" iyy="0.000247433804722632" iyz="6.63781930445381E-20" izz="0.000160239972135053" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/efector.STL" /></geometry>
      <material name=""><color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" /></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/efector.STL" /></geometry>
    </collision>
  </link>
  <joint name="efector_joint" type="fixed">
    <origin xyz="0 0 0.0851412442999989" rpy="0 0 -0.0983781240316506" />
    <parent link="pris" />
    <child link="efector" />
  </joint>

  <link name="est2">
    <inertial>
      <origin xyz="-2.22044604925031E-16 -5.55111512312578E-17 0.0676006699355697" rpy="0 0 0" />
      <mass value="1.31536424774884" />
      <inertia ixx="0.0034425046531065" ixy="3.44107134822063E-19" ixz="-9.78434047256863E-19" iyy="0.00349045588419489" iyz="1.15905013089098E-18" izz="0.00555564328813388" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/est2.STL" /></geometry>
      <material name=""><color rgba="1 1 1 1" /></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/est2.STL" /></geometry>
    </collision>
  </link>
  <joint name="est2_joint" type="fixed">
    <origin xyz="-0.14 -0.09 0" rpy="0 0 0" />
    <parent link="baase" />
    <child link="est2" />
  </joint>

  <link name="band3">
    <inertial>
      <origin xyz="-1.11022302462516E-16 5.55111512312578E-17 0.0304756495385423" rpy="0 0 0" />
      <mass value="0.344707963267949" />
      <inertia ixx="0.000380091310820574" ixy="1.04328601726955E-20" ixz="-4.71071841636278E-20" iyy="0.000388704310820575" iyz="-9.02598150873271E-20" izz="0.000645837880620835" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/band3.STL" /></geometry>
      <material name=""><color rgba="1 1 1 1" /></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://scara_cajas/meshes/band3.STL" /></geometry>
    </collision>
  </link>
  <joint name="band3_joint" type="fixed">
    <origin xyz="0.18 0.12 0" rpy="0 0 0" />
    <parent link="baase" />
    <child link="band3" />
  </joint>

  <!-- ===================== ROS 2 CONTROL ===================== -->
  <ros2_control name="ScaraCajasSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="rot1_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="rot2_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="pris_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <!-- ===================== GAZEBO PLUGIN ===================== -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>CONTROLLERS_YAML_PLACEHOLDER</parameters>
    </plugin>
  </gazebo>

</robot>