<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Corregido">

  <!-- Ancla el robot al mundo de Gazebo para que no caiga por gravedad -->
  <link name="world" />
  <joint name="world_to_base" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0325586406231884 0.000156081646546977 0.0798986449199547"
        rpy="0 0 0" />
      <mass
        value="0.493597596305665" />
      <inertia
        ixx="0.00249042444010258"
        ixy="1.89013850858789E-06"
        ixz="1.18396069039037E-05"
        iyy="0.00309705791419506"
        iyz="-5.70550454718768E-07"
        izz="0.00444715507582301" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Miau/meshes/base_link.STL" />
      </geometry>
      <material
        name="base_link_material">
        <color
          rgba="0.25 0.25 0.25 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Miau/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L1">
    <inertial>
      <origin
        xyz="0.00011021 0.0034718 0.18954"
        rpy="0 0 0" />
      <mass
        value="1.2503" />
      <inertia
        ixx="0.0039841"
        ixy="2.4766E-06"
        ixz="-3.1699E-06"
        iyy="0.003996"
        iyz="-2.0743E-05"
        izz="0.0053377" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Miau/meshes/L1.STL" />
      </geometry>
      <material
        name="L1_material">
        <color
          rgba="0.85 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Miau/meshes/L1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="L1" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="L2">
    <inertial>
      <origin
        xyz="0.096796 -0.0014545 0.069802"
        rpy="0 0 0" />
      <mass
        value="0.61222" />
      <inertia
        ixx="0.00072999"
        ixy="1.4848E-09"
        ixz="1.6773E-05"
        iyy="0.0052856"
        iyz="3.9123E-10"
        izz="0.0053029" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Miau/meshes/L2.STL" />
      </geometry>
      <material
        name="L2_material">
        <color
          rgba="0.1 0.55 0.85 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Miau/meshes/L2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2"
    type="continuous">
    <origin
      xyz="3.5078E-05 -0.058 0.31418"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="L1" />
    <child
      link="L2" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="L3">
    <inertial>
      <origin
        xyz="0.074686 0.0014245 0.09685"
        rpy="0 0 0" />
      <mass
        value="0.43367" />
      <inertia
        ixx="0.00046332"
        ixy="-3.765E-05"
        ixz="6.2733E-08"
        iyy="0.0015707"
        iyz="-4.5092E-08"
        izz="0.0015747" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Miau/meshes/L3.STL" />
      </geometry>
      <material
        name="L3_material">
        <color
          rgba="0.15 0.75 0.25 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Miau/meshes/L3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3"
    type="continuous">
    <origin
      xyz="0.20193 -0.0015 0.043"
      rpy="0 0 -1.5708" />
    <parent
      link="L2" />
    <child
      link="L3" />
    <axis
      xyz="0 0 1" />
  </joint>

  <!-- ================= ros2_control (para mover las juntas desde ROS2) ================= -->
  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="J1">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="J2">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="J3">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find Miau)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>