<?xml version="1.0" encoding="utf-8"?>
<robot name="antropomorfico_sim">

  <!-- World y Base Link -->
  <link name="world"/>

  <joint name="world_fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <link name="base_link">
    <inertial>
      <origin xyz="-8.62280491637124E-06 -0.00199965389633621 0.0392235768860196" rpy="0 0 0" />
      <mass value="0.812084046066587" />
      <inertia ixx="0.000545609055984195" ixy="2.68341478145369E-09" ixz="2.23630366927965E-07" iyy="0.000549063704849137" iyz="-1.047434218032E-06" izz="0.000749069521290605" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Link 1 & Joint 1 -->
  <link name="link_1">
    <inertial>
      <origin xyz="-0.0284998297574658 0.000484339338420564 0.036290165863768" rpy="0 0 0" />
      <mass value="0.308478108344015" />
      <inertia ixx="0.000134185199482458" ixy="1.6836112464832E-06" ixz="1.83787418093164E-06" iyy="5.19811480379078E-05" iyz="-1.36117240116009E-06" izz="0.000121146023683615" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/link_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint1" type="revolute">
    <origin xyz="0 0 0.15973" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1416" upper="3.1416" effort="10.0" velocity="3.0" />
  </joint>

  <!-- Link 2 & Joint 2 -->
  <link name="link_2">
    <inertial>
      <origin xyz="0.10686952601274 -0.000165547275767203 -0.00199914335815496" rpy="0 0 0" />
      <mass value="0.351393292572876" />
      <inertia ixx="0.000124933555287757" ixy="-3.97945238402944E-07" ixz="-1.78508597751684E-06" iyy="0.000146380983009036" iyz="-3.63198739065036E-07" izz="7.00641254467336E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/link_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint2" type="revolute">
    <origin xyz="0 0 0.04027" rpy="1.5708 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1416" upper="3.1416" effort="10.0" velocity="3.0" />
  </joint>

  <!-- Link 3 & Joint 3 -->
  <link name="link_3">
    <inertial>
      <origin xyz="0.0647734693778285 -9.22927163413412E-05 -0.000204766377692594" rpy="0 0 0" />
      <mass value="0.11320744769136" />
      <inertia ixx="2.82959912208295E-05" ixy="6.50728694566242E-10" ixz="1.25609712553035E-09" iyy="5.20179303114266E-05" iyz="-1.50594458918878E-07" izz="3.4992039220737E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/link_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint3" type="revolute">
    <origin xyz="0.15386 0 -0.0019756" rpy="0 0 0" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1416" upper="3.1416" effort="10.0" velocity="3.0" />
  </joint>

  <!-- ==================== CADENA VIRTUAL DE CANCELACIÓN ==================== -->

  <!-- Joint Cancelación Hombro (Sigue a Joint2) -->
  <joint name="joint_cancel_hombro" type="revolute">
    <origin xyz="0.126 0 0.045" rpy="0 0 0" />
    <parent link="link_3" />
    <child link="dummy_ee_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1416" upper="3.1416" effort="10.0" velocity="3.0" />
    <dynamics damping="0.5" friction="0.1"/>
    <mimic joint="joint2" multiplier="-1.0" offset="0.0" />
  </joint>

  <!-- Link Intermedio Virtual Estabilizado -->
  <link name="dummy_ee_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5" />
    </inertial>
  </link>

  <!-- Joint Cancelación Codo (Sigue a Joint3) -->
  <joint name="joint_cancel_codo" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="dummy_ee_link" />
    <child link="link_ee" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1416" upper="3.1416" effort="10.0" velocity="3.0" />
    <dynamics damping="0.5" friction="0.1"/>
    <mimic joint="joint3" multiplier="-1.0" offset="0.0" />
  </joint>

  <!-- End Effector Real -->
  <link name="link_ee">
    <inertial>
      <origin xyz="0.0230700306438992 -0.00523588583582774 -0.00126116143845402" rpy="0 0 0" />
      <mass value="0.0672048980473758" />
      <inertia ixx="1.71030503714898E-05" ixy="1.73790398248122E-07" ixz="3.25615497030233E-07" iyy="1.63647187790253E-05" iyz="7.19052437822757E-07" izz="1.13545791762509E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/link_ee.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/link_ee.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ==================== GARRA / DEDOS ==================== -->

  <!-- Dedo Izquierdo (Líder / Controlado) -->
  <link name="link_dedoizq">
    <inertial>
      <origin xyz="0.00236835670839988 0.0085519445181451 2.73991539290197E-06" rpy="0 0 0" />
      <mass value="0.00528765063135177" />
      <inertia ixx="6.79777559186187E-08" ixy="-3.73592324392456E-08" ixz="3.79968858291286E-10" iyy="1.22307448111244E-06" iyz="5.00063115003085E-12" izz="1.23513572228553E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/dedoizq.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/dedoizq.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_dedoizq" type="prismatic">
    <origin xyz="0.04765 -0.0405 -0.077421" rpy="-1.5708 0 -1.5708" />
    <parent link="link_ee" />
    <child link="link_dedoizq" />
    <axis xyz="0 -1 0" />
    <limit lower="0.0" upper="0.015" effort="500.0" velocity="0.5" />
  </joint>
  
  <!-- Dedo Derecho (Imitador / Mimic) -->
  <link name="link_dedoder">
    <inertial>
      <origin xyz="-0.00236834721535564 -2.73722481114458E-06 0.000751947391563861" rpy="0 0 0" />
      <mass value="0.00528764961290605" />
      <inertia ixx="6.79776374094407E-08" ixy="3.80649814042833E-10" ixz="3.73595513084095E-08" iyy="1.2351340023429E-06" iyz="-4.70391913558379E-12" izz="1.22307286166571E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/dedoder.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://antropomorfico_sim/meshes/dedoder.STL" />
      </geometry>
    </collision>
  </link>

   <!-- Dedo Derecho (Imitador) -->
  <joint name="joint_dedoder" type="prismatic">
    <origin xyz="0.04765 -0.0405 -0.0026591" rpy="0 0 1.5708" />
    <parent link="link_ee" />
    <child link="link_dedoder" />
    <axis xyz="0 0 -1" />
    <limit lower="0.0" upper="0.015" effort="500.0" velocity="0.5" />
    <mimic joint="joint_dedoizq" multiplier="1.0" offset="0.0" />
  </joint>

  <!-- ==================== PROPIEDADES FÍSICAS DE GAZEBO ==================== -->
  <gazebo reference="dummy_ee_link">
    <self_collide>false</self_collide>
  </gazebo>
  
  <gazebo reference="link_ee">
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="link_dedoizq">
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="link_dedoder">
    <self_collide>false</self_collide>
  </gazebo>

  <!-- ==================== ROS 2 CONTROL ==================== -->
  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="joint_cancel_hombro">
      <mimic joint="joint2" multiplier="-1.0" offset="0.0"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="joint_cancel_codo">
      <mimic joint="joint3" multiplier="-1.0" offset="0.0"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <!-- Articulación de la garra controlada -->
    <joint name="joint_dedoizq">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Articulación de la garra imitadora -->
    <joint name="joint_dedoder">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <!-- ==================== PLUGINS DE GAZEBO SIM ==================== -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find antropomorfico_sim)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
