<?xml version="1.0"?>
<robot name="manipulador_scara_4dof">

  <!-- Colores -->
  <material name="blue"><color rgba="0.2 0.2 0.8 1"/></material>
  <material name="red"><color rgba="0.8 0.2 0.2 1"/></material>
  <material name="green"><color rgba="0.2 0.8 0.2 1"/></material>
  <material name="yellow"><color rgba="0.8 0.8 0.2 1"/></material>

  <!-- Mundo -->
  <link name="world"/>

  <!-- 1. BASE (Rotacional) -->
  <joint name="joint1_base" type="revolute">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.075" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.15"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <!-- Marca roja para ver la rotación de la base -->
    <visual>
      <origin xyz="0.05 0 0.14" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.02 0.02"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <!-- 2. BRAZO 1 (Rotacional) -->
  <joint name="joint2_arm1" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0.15" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>

  <link name="link1">
    <visual>
      <origin xyz="0.10 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.20 0.04 0.04"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <!-- 3. BRAZO 2 (Rotacional) -->
  <joint name="joint3_arm2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0.20 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>

  <link name="link2">
    <visual>
      <origin xyz="0.10 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.20 0.04 0.04"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <!-- 4. HERRAMIENTA (Prismática) -->
  <joint name="joint4_prismatic" type="prismatic">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0.20 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.15" upper="0.0" effort="10" velocity="1"/>
  </joint>

  <link name="link3">
    <visual>
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.10"/>
      </geometry>
      <material name="yellow"/>
    </visual>
  </link>

</robot>
